
header img{
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
     margin: auto; 
}
header{
    text-align: center;
}
body{
width: 900px;
margin: auto;
}

 a{
    text-decoration: none;
    padding: 10px;
}
main ul li{
     padding-top: 5px;
    padding-bottom: 5px;
}
ol{
    padding-top: 5px;
    
}
main h1{
    background-color: blueviolet;
    
}
ol li{
    text-transform: capitalize;
    padding-top: 5px;
    padding-bottom: 5px; 

}

p{
    font-size: 20px;
}
footer ul li{
    display: inline-block;
    padding-top: 5px;
}
footer{
    text-align: center;
    
}